
<title>Kelvin to Celsius</title>

<h3>Ergbeniss der Umrechnmung</h3>
<ul>
    <li>
        Temperatur in °K: {{ '%.2f' % K }}
    </li>
    <li>
        Temperatur in °C: <strong>{{ '%.2f' % C }}</strong>
    </li>
</ul>