Pound to kg
<form action="/lb_to_kg">
    <input type="text" name="lb">
    <input type="submit" value="rechne">
</form>
Kelvin to Celsius
<form action="/K_to_C">
    <input type="text" name="K">
    <input type="submit" value="rechne">
</form> 